<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/characters" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required />
      <label for="age">Age</label>
      <input type="number" name="age" id="age" required />
      <label for="talent">talent</label>
      <input type="text" name="talent" id="talent" required />
      <button type="submit">Submit</button>
    </form>
    <% if(errors){%>
    <div class="error">
      <h3>Error(s):</h3>
      <ul>
        <% errors.forEach(error=>{%>
        <li><%= error.msg %></li>
        <%})%>
      </ul>
    </div>
    <%}%>
  </body>
</html>
