<h2>My Team</h2>

<ul>
  <li *ngFor="let member of members">
    <a routerLink="/detail/{{ member.id }}">
      <span>
        {{ member.id }}
      </span>
      <span>
        {{ member.name }}
      </span>
    </a>
    <button type="button" (click)="delete(member)">Delete</button>
  </li>
</ul>

<div>
  <label for="new-member">Member Name: </label>
  <input id="new-member" #memberName />

  <button type="button" (click)="add(memberName.value); memberName.value = ''">
    Add Member
  </button>
</div>
