body {
  background-color: antiquewhite;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}
div {
  padding: 20px;
  border-color: black;
}
img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%px;
  border-radius: 10%;
  border-color: black;
}
