.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #343a40;
  text-align: center;
}

.card {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.card-body .fw-bold {
  color: #495057;
}

.btn-info {
  color: #fff;
}

.btn-info:hover {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-primary {
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.d-flex.justify-content-end {
  margin-top: 20px;
}
