<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Submission</title>
    <link rel="stylesheet" href="/submitform.css" />
  </head>

  <body>
    <div>
      <h1>Submitted Data</h1>

      <p>Name: <%= name %></p>

      <p>Email: <%= email %></p>
      <label
        for="image"
        style="
          font-size: larger;
          font-family: 'Courier New', Courier, monospace;
          font-weight: bolder;
        "
        >Image:
      </label>
      <div style="display: flex; justify-content: center; align-items: center">
        <img src="/<%= imagePath %>" alt="Profile Pic" id="image" />
      </div>
    </div>
  </body>
</html>
