<div class="playlists-container">
  <h1>Playlists</h1>
  <button (click)="getAllPlaylists()" class="get-playlists-button">
    Get All Playlists
  </button>
  <ul class="playlists-list">
    <li *ngFor="let playlist of playlists" class="playlist-item">
      <div class="playlist-header">
        <span class="playlist-name">{{ playlist.Name }}</span>
        <button class="delete-button" (click)="deletePlaylist(playlist._id)">
          Delete
        </button>
      </div>
      <ul class="songs-list">
        <li *ngIf="mysongs.length === 0" class="no-songs-message">
          No songs in this playlist.
        </li>
        <li *ngFor="let song of mysongs" class="song-item">
          {{ song.Name }}

          <button
            *ngIf="mysongs.length > 0"
            (click)="deleteSongFromPlaylist(song.playlistId, song.id)"
          >
            Remove
          </button>
        </li>
      </ul>
    </li>
  </ul>
  <div class="create-playlist">
    <h2>Create Playlist</h2>
    <input
      [(ngModel)]="newPlaylist.Name"
      placeholder="Name"
      class="playlist-name-input"
    />
    <button (click)="createPlaylist()" class="create-button">Create</button>
  </div>
</div>
