.playlists-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f9f9f9;
}

.playlists-container h1,
.playlists-container h2 {
  text-align: center;
  color: #3f51b5; /* Primary color */
}

.get-playlists-button {
  display: block;
  margin: 10px auto 20px;
  padding: 10px 20px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.get-playlists-button:hover {
  background-color: #303f9f;
}

.playlists-list {
  list-style-type: none;
  padding: 0;
}

.playlist-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
}

.playlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist-name {
  font-weight: bold;
}

.delete-button {
  background-color: #f44336; /* Delete color */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.songs-list {
  list-style-type: none;
  padding: 10px 0 0 20px;
  margin: 0;
}

.song-item {
  margin-bottom: 5px;
}

.create-playlist {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
}

.playlist-name-input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #4caf50; /* Create button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-button:hover {
  background-color: #388e3c;
}
