button {
  border-radius: 5px;
  background-color: antiquewhite;
  color: black;
  padding: 6px;
  margin: 10px;
}
button:hover {
  border-radius: 5px;
  background-color: aqua;
  box-shadow: 0px 0px 12px 4px black;
  padding: 6px;
  margin: 10px;
}
