<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Side Navbar Example</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      .sidebar {
        display: flex;
        flex-direction: column;
        height: 128vh;
      }
      .nav-wrapper {
        flex-grow: 1;
      }
      .logout-btn {
        margin-top: auto;
      }
    </style>
  </head>
  <body>
    <app-header></app-header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 sidebar">
          <h2 style="padding-bottom: 100px" class="sidebar-heading">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-person-circle"
              viewBox="0 0 16 16"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
              />
            </svg>
            Admin Dashboard
          </h2>
          <div class="nav-wrapper">
            <div class="nav flex-column nav-pills">
              <button
                class="nav-link"
                routerLink="/admin/dashboard/dashboard"
                routerLinkActive="active"
                style="font-size: medium; font-weight: bolder"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-speedometer2"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v4.594l2.384 2.384a.5.5 0 1 1-.707.707L8 9.707V4.5A.5.5 0 0 1 8 4z"
                  />
                  <path
                    d="M3.694 6.042a.5.5 0 0 1 .9-.436 7.003 7.003 0 0 1 1.539-2.397.5.5 0 1 1 .707.707 6.004 6.004 0 0 0-1.198 1.865.5.5 0 0 1-.95-.223zm7.108-2.397a.5.5 0 1 1 .707-.707 6.004 6.004 0 0 0-1.197 1.865.5.5 0 0 1-.95-.223 7.003 7.003 0 0 1 1.44-2.935zm1.364 3.106a.5.5 0 0 1 .9.436 7.003 7.003 0 0 1-1.539 2.397.5.5 0 1 1-.707-.707 6.004 6.004 0 0 0 1.198-1.865.5.5 0 0 1 .148-.261zm-10.884.703a6.004 6.004 0 0 0 1.198 1.865.5.5 0 1 1-.707.707 7.003 7.003 0 0 1-1.539-2.397.5.5 0 1 1 .9-.436zm4.632 3.157a.5.5 0 1 1-.707-.707 6.004 6.004 0 0 0 1.198-1.865.5.5 0 1 1 .9.436 7.003 7.003 0 0 1-1.539 2.397.5.5 0 0 1-.148.261zm-3.98-6.75a6.002 6.002 0 0 1 5.657-5.657 6.002 6.002 0 0 1 5.657 5.657 6.002 6.002 0 0 1-5.657 5.657 6.002 6.002 0 0 1-5.657-5.657zm11.314 0a5.002 5.002 0 0 0-10 0 5.002 5.002 0 0 0 10 0zm-4.902 4.902a.5.5 0 0 1 .707 0 .5.5 0 0 1 0 .707.5.5 0 0 1-.707 0 .5.5 0 0 1 0-.707z"
                  />
                </svg>
                Dashboard
              </button>
              <button
                class="nav-link"
                routerLink="/admin/dashboard/home"
                routerLinkActive="active"
                style="font-size: medium; font-weight: bolder"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-pencil-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"
                  />
                </svg>
                Home
              </button>
              <button
                class="nav-link"
                routerLink="/admin/dashboard/create"
                routerLinkActive="active"
                style="font-size: medium; font-weight: bolder"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-c-circle-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.146 4.992c.961 0 1.641.633 1.729 1.512h1.295v-.088c-.094-1.518-1.348-2.572-3.03-2.572-2.068 0-3.269 1.377-3.269 3.638v1.073c0 2.267 1.178 3.603 3.27 3.603 1.675 0 2.93-1.02 3.029-2.467v-.093H9.875c-.088.832-.75 1.418-1.729 1.418-1.224 0-1.927-.891-1.927-2.461v-1.06c0-1.583.715-2.503 1.927-2.503"
                  />
                </svg>
                Create Application
              </button>
              <button
                class="nav-link"
                routerLink="/admin/dashboard/profile"
                routerLinkActive="active"
                style="font-size: medium; font-weight: bolder"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-person-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                  />
                </svg>
                My Profile
              </button>
            </div>
          </div>
          <div *ngIf="isLoggedIn">
            <button
              type="button"
              class="nav-link logout-btn"
              (click)="logout()"
              style="font-size: medium; font-weight: bolder"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-box-arrow-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 15a2 2 0 0 0 2-2v-3H9.5a.5.5 0 0 1 0-1H12V6.5a.5.5 0 0 1 1 0V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v3.5a.5.5 0 0 1-1 0V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6z"
                />
                <path
                  fill-rule="evenodd"
                  d="M10.354 8.354a.5.5 0 0 0 0-.708L8.5 5.793V10.5a.5.5 0 0 0 1 0V5.793l1.854 1.853a.5.5 0 0 0 .708-.707l-2.5-2.5a.5.5 0 0 0-.708 0l-2.5 2.5a.5.5 0 0 0 .708.707l1.854-1.853z"
                />
              </svg>

              Logout
            </button>
          </div>
        </div>
        <div class="col-md-9">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </body>
</html>
