.playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f9f9f9;
}

.playlist-container h1 {
  font-size: 2rem;
  color: #3f51b5; /* Primary color */
  margin-bottom: 20px;
  text-align: center;
}

.playlist-select {
  width: 100%;
  margin-bottom: 20px;
}

.add-button {
  background-color: #3f51b5; /* Primary color */
  color: white;
}

.add-button[disabled] {
  background-color: #9e9e9e; /* Disabled color */
}
