<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/characters/<%=character.id%>/?_method=PUT" method="post">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        value="<%=character.name%>"
        required
      />
      <label for="age">Age</label>
      <input
        type="number"
        name="age"
        id="age"
        value="<%=character.age%>"
        required
      />
      <label for="talent">talent</label>
      <input
        type="text"
        name="talent"
        id="talent"
        value="<%=character.talent%>"
        required
      />
      <button type="submit">Edit</button>
    </form>
  </body>
</html>
