.task-management {
  padding: 24px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  width: 100%;
  margin-bottom: 24px;
  background: white;
  border-radius: 4px;
}

table {
  width: 100%;
  margin-top: 24px;
  background-color: white;
  border-collapse: separate;
  border-spacing: 0 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

mat-header-row,
mat-row {
  border-bottom: 1px solid #e0e0e0;
}

mat-header-cell {
  font-weight: bold;
  color: #555;
}

mat-cell {
  padding: 8px;
  color: #333;
}

button {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

button.mat-raised-button {
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button.mat-icon-button {
  color: #ff5252;
}

.form-container {
  margin-bottom: 24px;
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mat-elevation-z8 {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.mat-datepicker-toggle {
  margin-right: -12px;
}

.mat-datepicker-toggle .mat-icon-button {
  background: transparent;
  border: none;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #1976d2 !important;
}

.mat-form-field.mat-focused .mat-form-field-underline {
  background-color: #1976d2;
}

.mat-button.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #1976d2;
  color: white;
}

.mat-button.mat-accent,
.mat-raised-button.mat-accent {
  background-color: #ff4081;
  color: white;
}
