<h2
  style="
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
  "
>
  Character Detail
</h2>

<div
  style="
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: blueviolet;
  "
>
  <span>{{ chardetails?.name }}</span
  ><br />
  <span>Height: {{ chardetails?.height }}</span
  ><br />
  <span>Weight: {{ chardetails?.weight }}</span
  ><br />
  <span>Id: {{ chardetails?.charid }}</span
  ><br />

  <button type="button" (click)="getBack()">Back</button>
</div>
