.example-container {
  height: 100%;
}

.custom-drawer {
  width: 300px;
  background-color: #2c3e50; /* Darker background for the drawer */
  color: white;
}

.custom-toolbar {
  background-color: #3498db; /* Blue background for the toolbar */
  color: white;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

mat-drawer-content {
  padding-top: 64px; /* Adjust this based on your toolbar height */
}

.content {
  padding: 16px;
}

.centered-nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.centered-nav-list a[mat-list-item] {
  text-decoration: none;
  color: #ecf0f1; /* Light text color for contrast */
  background-color: #3276b9; /* Slightly lighter background for links */
  width: 100%;
  text-align: center;
  padding: 12px 0;
  margin: 4px 0;
}

.centered-nav-list a[mat-list-item]:hover {
  background-color: #1abc9c; /* Highlight color on hover */
}
.container {
  text-align: right; /* Aligns the content to the right within the container */
}

.login-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
