.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 50px 200px 50px;
  background-color: aquamarine;

  grid-template-areas:
    "header header header"
    "left main right"
    "footer footer footer";
}

.header {
  grid-area: header;
  background-color: aqua;
  font-weight: bold;
}
.main {
  grid-area: main;
  background-color: bisque;
  font-weight: bold;
}
.left {
  grid-area: left;
  background-color: blueviolet;
  font-weight: bold;
}
.right {
  grid-area: right;
  background-color: burlywood;
  font-weight: bold;
}

.footer {
  grid-area: footer;
  background-color: blue;
  font-weight: bold;
}
